<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hust\Service\Api\ServiceRepositoryInterface" type="Hust\Service\Model\Repository\ServiceRepository"/>
    <preference for="Hust\Service\Api\Data\ServiceInterface" type="Hust\Service\Model\Service"/>
    <preference for="Hust\Service\Api\LocatorRepositoryInterface" type="Hust\Service\Model\Repository\LocatorRepository"/>
    <preference for="Hust\Service\Api\Data\LocatorInterface" type="Hust\Service\Model\Locator"/>
    <preference for="Hust\Service\Api\BookingRepositoryInterface" type="Hust\Service\Model\Repository\LocatorRepository"/>
    <preference for="Hust\Service\Api\Data\BookingInterface" type="Hust\Service\Model\Booking"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="service_listing_data_source" xsi:type="string">Hust\Service\Model\ResourceModel\Service\Grid</item>
                <item name="locator_listing_data_source" xsi:type="string">Hust\Service\Model\ResourceModel\Locator\Grid</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Hust\Service\Model\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Hust\Service\Model\System\UrlResolver::DIRECTORY_MEDIA</argument>
            <argument name="basePath" xsi:type="const">Hust\Service\Model\System\UrlResolver::DIRECTORY_TMP_MEDIA</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Hust\Service\Controller\Adminhtml\Service\Uploader">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Hust\Service\Model\ImageUpload</argument>
        </arguments>
    </type>

</config>
