<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dco_Service::booking_system" title="Booking and Reservation System" module="Dco_Service" sortOrder="55"
             resource="Dco_Service::booking_system" />
        <add id="Dco_Service::service" title="Services" module="Dco_Service" sortOrder="50" parent="Dco_Service::booking_system" action="booking/service" resource="Dco_Service::service" />
        <add id="Dco_Service::service_locator" title="Booking Locators" module="Dco_Service" sortOrder="60" action="booking/locator" parent="Dco_Service::booking_system" resource="Dco_Service::service_locator" />
        <add id="Dco_Service::booking_calendar" title="Booking Calendar" module="Dco_Service" sortOrder="60" action="booking/calendar" parent="Dco_Service::booking_system" resource="Dco_Service::service_locator" />
    </menu>
</config>
