<!--@subject {{trans "Notify from Spa BK"}} @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr>Hi {{trans  "%name" name=$nameCustomer}}</tr>
    <tr>Thank you for booking calendar apa in my store. Booking calendar is accepted</tr>
    <tr>This is information:</tr>
    <tr>{{trans "Name service : %nameService" nameService=$service.name}}</tr>
    <tr>{{trans "Price service : %priceService" priceService=$service.price}}</tr>
    <tr>{{trans "Locator : %nameLocator" nameLocator=$locator.name}}</tr>
    <tr>{{trans "Address : %addressLocator" addressLocator=$locator.address}}</tr>
    <tr>{{trans "Time : %hour, %date" hour=$hour, date = $date}}</tr>
    <tr>We wait you</tr>
</table>
{{template config_path="design/email/footer_template"}}
