<!--@subject {{trans "Thông báo từ Spa"}} @-->
<table>
    <tr>Cảm ơn bạn đã đến và sử dụng dịch vụ của chúng tôi. Chúng tôi hy vọng bạn đã hài lòng với chất lượng dịch vụ cũng như sự phục vụ hết lòng của nhân viên chúng tôi.</tr>
    <tr>Vui lòng dành thời gian đánh giá dịch vụ giúp chúng tôi qua link <a href={{var data.urlReview}}>Click here</a></tr>
    <tr>Chúng tôi xin gửi tặng bạn mã voucher giảm giá khi đặt lịch dịch vụ của chúng tôi lần sau, mã voucher là <strong>{{var data.code}}</strong></tr>
    <tr>Voucher có giá trị giảm <strong>{{var data.discount}}</strong>% khi bạn sử dụng dịch vụ của chúng tôi lần sau và nó có hạn sử dụng một tháng kể từ ngày bạn nhận được email này.</tr>
    <tr>Xin cảm ơn và hẹn gặp lại!</tr>
</table>
