<!--@subject {{trans "Notify from Spa BK"}} @-->

{{template config_path="design/email/header_template"}}
<table>
    <td>{{trans "Thank you " }}<strong>{{var data.name}}</strong></td>

    <tr>Hi {{var data.name}}</tr>
    <tr>Thank you for booking calendar apa in my store. Booking calendar is accepted</tr>
    <tr>This is information:</tr>
    <tr>Name service : <strong>{{var data.serviceName}}</strong></tr>
    <tr>Locator : <strong>{{var data.locatorName}}</strong></tr>
    <tr>Address : <strong>{{var data.address}}</strong></tr>
    <tr>Date : <strong>{{var data.date}}</strong></tr>
    <tr>Hour : <strong>{{var data.hour}}</strong></tr>
    <tr>We wait you</tr>
</table>
{{template config_path="design/email/footer_template"}}
