<!--@subject {{trans "Notify Spa"}} @-->

<table>
    <td>{{trans "Xin chào " }}<strong>{{var data.name}}</strong>,</td>

    <tr>Cảm ơn bạn đã đặt lịch làm đẹp tại spa của chúng tôi. Yêu cầu đặt lịch của bạn đã được chấp nhận.</tr>
    <tr>Dưới đây là thông tin chi tiết:</tr>
    <tr>Tên dịch vụ : <strong>{{var data.serviceName}}</strong></tr>
    <tr>Tên spa : <strong>{{var data.locatorName}}</strong></tr>
    <tr>Địa chỉ : <strong>{{var data.address}}</strong></tr>
    <tr>Ngày : <strong>{{var data.date}}</strong></tr>
    <tr>Khung giờ : <strong>{{var data.hour}}</strong></tr>
    <tr>Mọi thắc mắc, yêu cầu cần giải đáp, bạn vui lòng liên hệ với chúng tôi qua số điện thoại 0366338599.</tr>
    <tr>Xin hãy ghi nhớ lịch làm đẹp của mình, xin cảm ơn!</tr>
</table>
