<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hust_Service::booking_system" title="Booking and Reservation System" module="Hust_Service" sortOrder="55"
             resource="Hust_Service::booking_system" />
<!--        <add id="Hust_Service::hust_user" title="User" module="Hust_Service" sortOrder="5" parent="Hust_Service::booking_system" action="adminhtml/user" resource="Hust_Service::hust_user"/>-->
        <add id="Magento_User::system_acl_users" title="All Users" translate="title" module="Magento_User" sortOrder="55" parent="Hust_Service::booking_system" action="adminhtml/user" resource="Magento_User::acl_users"/>
        <add id="Hust_Service::hust_service" title="Services" module="Hust_Service" sortOrder="10" parent="Hust_Service::booking_system" action="booking/service" resource="Hust_Service::hust_service" />
        <add id="Hust_Service::hust_locator" title="Locators" module="Hust_Service" sortOrder="20" action="booking/locator" parent="Hust_Service::booking_system" resource="Hust_Service::hust_locator" />
        <add id="Hust_Service::hust_employee" title="Employee" module="Hust_Service" sortOrder="30" action="booking/employee" parent="Hust_Service::booking_system" resource="Hust_Service::hust_employee" />
        <add id="Hust_Service::hust_promotion" title="Promotion" module="Hust_Service" sortOrder="40" action="booking/promotion" parent="Hust_Service::booking_system" resource="Hust_Service::hust_promotion" />
        <add id="Hust_Service::hust_booking" title="Booking" module="Hust_Service" sortOrder="25" action="booking/booking" parent="Hust_Service::booking_system" resource="Hust_Service::hust_booking" />
        <add id="Hust_Service::hust_schedule" title="Schedule" module="Hust_Service" sortOrder="55" action="booking/schedule" parent="Hust_Service::booking_system" resource="Hust_Service::hust_schedule" />
        <add id="Hust_Service::hust_report" title="Report Sale" module="Hust_Service" sortOrder="70" action="booking/report" parent="Hust_Service::booking_system" resource="Hust_Service::hust_report" />
        <add id="Hust_Service::hust_booking_customer" title="Customer" module="Hust_Service" sortOrder="60" action="booking/customer" parent="Hust_Service::booking_system" resource="Hust_Service::hust_booking_customer" />
        <add id="Hust_Service::hust_employee_report" title="Report Employee" module="Hust_Service" sortOrder="75" action="booking/employeereport" parent="Hust_Service::booking_system" resource="Hust_Service::hust_employee_report" />
    </menu>
</config>
